 <!--Intro Section-->
 <section class="view intro-video">
   
             <div class="container flex-center animated wow fadeInLeft">
                 <div class="row pt-5 mt-3">
                     <div class="col-lg-7 animated wow fadeIn mb-5 text-center " data-wow-delay="2s">
                         <div class="blue-grey-text">
                             <h3 class="h3-responsive font-bold wow fadeInLeft" data-wow-delay="2s">Services</h3>
                             <hr class="hr-blue animated wow fadeIn">
                             <p class="wow fadeInLeft" data-wow-delay="0.3s">Créée en 1988, APLUS Système Automation est aujourd’hui l’un des leaders français des secteurs de l’informatique industrielle. Nos équipes (50 personnes) disposent de savoir-faire élargis sur de multiples applications métiers, dans les secteurs de la distribution, de la défense, de la sécurité et de l’industrie au sens large. APLUS Système Automation propose à ses clients un large spectre de solutions sur-mesure qui tiennent compte des spécificités et des enjeux de votre projet.</p>
                             <br>
                         </div>
                     </div>
                     
                     <div class="col-lg-5 wow fadeIn">
                         <video preload="auto" autoplay="autoplay" poster="../../assets/image/enseigne-aplus.jpg" loop="loop" class="embed-responsive embed-responsive-16by9 wow fadeInRight" >
                             <source class="embed-responsive-item" src="../../assets/video/aplus-sa-nos-bureaux.mp4" type="video/mp4">
                         </video>
                     </div>
                 </div>
             </div>
             <!--/first intro video-->
             <!--2nd intro video-->
             <div class="container flex-center animated wow fadeInRight" data-wow-delay="3s">
                <div class="row pt-5 mt-3">
                                       
                    <div class="col-lg-5 wow fadeIn">
                        <video preload="auto" autoplay="autoplay" poster="../../assets/image/enseigne-aplus.jpg" loop="loop" class="embed-responsive embed-responsive-16by9 wow fadeInRight" >
                          <source class="embed-responsive-item" src="../../assets/video/aplus-sa-notre-atelier.mp4" type="video/mp4">
                      </video>
                    </div>
                    <div class="col-lg-7 animated wow fadeIn mb-5 text-center ">
                        <div class="blue-grey-text">
                            <h3 class="h3-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">CONCEPTION & DÉVELOPPEMENT</h3>
                            <hr class="hr-blue wow fadeInLeft" data-wow-delay="0.3s">
                            <p class="wow fadeInLeft" data-wow-delay="0.3s">Nos locaux, d’une surface totale de 4 000 m2, comprennent une zone de 1 000 m2 dédiée aux opérations d’intégration. Le montage
                                et les tests standards peuvent être complétés par des tests spécifiques, selon le cahier des charges que nous établissons
                                ensemble.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container flex-center animated wow fadeInLeft">
                <div class="row pt-5 mt-3">
                    <div class="col-lg-7 animated wow fadeIn mb-5 text-center ">
                        <div class="blue-grey-text">
                            <h3 class="h3-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">PRODUCTION & INTÉGRATION</h3>
                            <hr class="hr-blue wow fadeInLeft" data-wow-delay="0.3s">
                            <p class="wow fadeInLeft" data-wow-delay="0.3s">APLUS Système Automation distribue une gamme complète de sous-ensembles et de produits sélectionnés parmi un panel de partenaires
                                reconnus et leaders sur leur marché. Ces composants peuvent être intégrés à des ensembles plus complexes, ou distribués
                                nus auprès de professionnels. Nous assurons en interne les services support pour l’ensemble de nos gammes.</p>
                            <br>
                        </div>
                    </div>
                    
                    <div class="col-lg-5 wow fadeIn">
                        <video preload="auto" autoplay="autoplay" poster="../../assets/image/enseigne-aplus.jpg" loop="loop" class="embed-responsive embed-responsive-16by9 wow fadeInRight" >
                          <source class="embed-responsive-item" src="../../assets/video/aplus-sa-montage.mp4" type="video/mp4">
                      </video>
                    </div>
                </div>
            </div>

            <div class="container flex-center animated wow fadeInLeft">
                <div class="row pt-5 mt-3">
                    <div class="col-lg-5 wow fadeIn">
                        <video preload="auto" autoplay="autoplay" poster="../../assets/image/enseigne-aplus.jpg" loop="loop" class="embed-responsive embed-responsive-16by9 wow fadeInRight" >
                          <source class="embed-responsive-item" src="../../assets/video/aplus-sa-notre-stock.mp4" type="video/mp4">
                      </video>
                    </div>
                    <div class="col-lg-7 animated wow fadeIn mb-5 text-center ">
                        <div class="blue-grey-text">
                            <h3 class="h3-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">IMPORTATION & COMMERCIALISATION</h3>
                            <hr class="hr-blue wow fadeInLeft" data-wow-delay="0.3s">
                            <p class="wow fadeInLeft" data-wow-delay="0.3s">Nos bureaux d’études proposent des réponses sur mesure en fonction de vos projets d’informatique industrielle, d’interfaces
                                et/ou de systèmes d’affichage. À partir de vos spécifications, nous développons des solutions adaptées à vos contraintes.
                                Nous prenons en charge les qualifications, les adaptations nécessaires et la personnalisation (peinture, sérigraphie...)
                                du matériel que nous concevons.</p>
                            <br>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
 </section>