<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="blue-text">Présentation</h2>
      <hr>
      <p>Créée en 1988, la société APLUS Système Automation est l’un des leaders français du secteur de l’informatique industrielle. Nos équipes et nos bureaux régionaux disposent de savoir-faire étendu sur de multiples applications métiers, dans les secteurs de la distribution, de la défense, de la sécurité et de l’industrie. Les plus grandes entreprises françaises et européennes nous font confiance depuis de nombreuses années.</p>
    </div>
    <div class="col-md-6">
    <!--Carousel Wrapper-->
<mdb-carousel class="carousel slide carousel-fade vertical-align" [animation]="'fade'">
    <!--First slide-->
    <mdb-slide>
        <div class="view hm-black-light">
            <img class="d-block w-100" src="../../assets/img/slide-societe/magasin01.jpg" alt="First slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Light mask</h3>
            <p>First text</p>
        </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
        <div class="view hm-black-strong">
            <img class="d-block w-100" src="../../assets/img/slide-societe/magasin02.jpg" alt="Second slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Strong mask</h3>
            <p>Secondary text</p>
        </div>
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
        <div class="view hm-black-slight">
            <img class="d-block w-100" src="../../assets/img/slide-societe/magasin03.jpg" alt="Third slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Third text</p>
        </div>
    </mdb-slide>
    <!--/Third slide-->
    <!--Fourth slide-->
    <mdb-slide>
        <div class="view hm-black-slight">
            <img class="d-block w-100" src="../../assets/img/slide-societe/magasin04.jpg" alt="Third slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Third text</p>
        </div>
    </mdb-slide>
    <!--/Fourth slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
    </div>
  </div>
 