<div class="container">

  <button type="button" class="btn btn-warning waves-light" mdbRippleRadius (click)='onBack()'>
    <i class="material-icons">arrow_back</i>
  </button>


  <div class="row">
    <div class="card col-md-3" *ngFor="let art of produit.article">
      <div class="view hm-zoom">
        <img [src]='art.articleUrl' class=" mx-auto d-block" style="max-width:150px" height="auto">
      </div>
      <div class="card-body">{{art.articleName}}</div>

    </div>
  </div>
<button type="button" class="btn btn-warning waves-light" mdbRippleRadius (click)='onBack()'>
  <i class="material-icons">arrow_back</i>
</button>
</div>
