.container {
  margin-top: 20px;
}

.focus {
  width: 570px;
  height: 319px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  background-image: url("http://www.aplus-sa.com/tl_files/aplus/img/focus/focus-background.png");
  background-position: top left;
  background-repeat: repeat-x;
  background-color: #eee;
  margin: 5px;
  padding: 10px;
}

#loading {
  -webkit-animation: rotation 15s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(359deg);
  }
}

.anime {
  position: absolute;
  z-index: 100000;
}

.facade {
  width: 570px;
  height: 319px;
  background: url("../../assets/img/enseigne-aplus.jpg");
  background-size: cover;
  border: 3px solid #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  
}

.info {
  padding: 10px;
}
