<div class="container">


  <div class="row">
    <div class="col-md-6 col-xs-12 facade">

    </div>
    <div class="col-md-6 col-xs-12">

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <div class="focus">
        <div id="loading" class="anime">
          <h5 class="blue-text">
            <img src="../../assets/img/picto-logo-bleu.png">&nbsp;FOCUS</h5>
        </div>
        <div>
          <h5 class="blue-text text-weight-bold text-right">&nbsp;Nouveaux produits</h5>
        </div>
      </div>
    </div>
  </div>
</div>
